<div class="row">
  <div class="col">
    <mat-card class="my-3" *ngIf="!product">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
    <mat-card class="my-3" *ngIf="product">
      <img mat-card-image
           [src]="product.img"
           [alt]="product.name"/>
    </mat-card>
  </div>
  <div class="col-8">
    <mat-card class="my-3" *ngIf="!product">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
    <mat-card class="my-3" *ngIf="product">
      <mat-card-title>{{ product.name }}</mat-card-title>
      <mat-card-content>{{ product.description }}</mat-card-content>
    </mat-card>

    <mat-card class="my-3" *ngIf="!product?.prices?.length">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </mat-card>
    <mat-card class="my-3" *ngIf="product?.prices?.length">
      <table class="w-100">
        <caption>Price details</caption>
        <tr>
          <th scope="col">Supplier</th>
          <th scope="col">Stock</th>
          <th scope="col">Currency</th>
          <th scope="col">Price</th>
          <th scope="col"></th>
        </tr>
        <tr *ngFor="let price of product.prices">
          <td>{{ price.detail.supplier }}</td>
          <td>{{ price.detail.stock }}</td>
          <td>{{ price.currencyCode }}</td>
          <td>{{ price.value }}</td>
          <td><a mat-button color="accent" *ngIf="price.detail.stock > 0">Add to cart</a></td>
        </tr>
      </table>
    </mat-card>
  </div>
</div>
