<mat-card class="my-3" *ngIf="item">
  <a [routerLink]="'/products/' + item.id">
    <img mat-card-image
         [src]="item.img"
         [alt]="item.name"/>
  </a>
  <mat-card-title>{{ item.name }}</mat-card-title>
  <mat-card-content>{{ item.description }}</mat-card-content>
  <mat-card-actions align="end">
    <span class="align-self-center mb-1" *ngIf="!cheapestPrice">
      Out of stock
    </span>

    <span class="align-self-center mb-1" *ngIf="cheapestPrice">
      {{ cheapestPrice.currencyCode }} {{ cheapestPrice.value }}
    </span>
    <a mat-button color="accent" *ngIf="cheapestPrice">Add to cart</a>
  </mat-card-actions>
</mat-card>
