<mat-toolbar color="primary">
  <div class="container px-3">
    <a mat-flat-button
       routerLink="/"
       routerLinkActive="active">
      <img src="/assets/logo.png" alt="logo" class="logo">
      Shop
    </a>
  </div>
</mat-toolbar>
<div class="container py-3">
  <router-outlet></router-outlet>
</div>
