<mat-paginator [disabled]="loading"
               [length]="page?.totalElements"
               [pageSize]="page?.size"
               [pageIndex]="page?.number"
               (page)="onPageEvent($event)">
</mat-paginator>
<div class="row" *ngIf="loading">
  <div class="col">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  </div>
</div>
<div class="row" *ngIf="!loading">
  <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let product of page?.content">
    <app-product-list-item [item]="product"></app-product-list-item>
  </div>
</div>
<mat-paginator [disabled]="loading"
               [length]="page?.totalElements"
               [pageSize]="page?.size"
               [pageIndex]="page?.number"
               (page)="onPageEvent($event)">
</mat-paginator>
