/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap-grid';
@import '~bootstrap/scss/mixins';
@import '~bootstrap/scss/utilities/text';
@import '~bootstrap/scss/utilities/sizing';

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.logo {
  height: 1.5em;
  vertical-align: middle;
  background: white;
  border-radius: 4px;
}
